body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background: #f4f4f7;
    color: #222;
}

/* Navbar */
.navbar {
    background: #2f2a85;
    padding: 15px 20px;
    color: white;
    position: sticky;
    top: 0;
}

/* Hero */
.hero {
    background: linear-gradient(135deg, #3c2e91, #4fa3ff);
    padding: 120px 20px;
    text-align: center;
    color: white;
}

.hero h1 {
    margin: 0;
    font-size: 2.3rem;
}

footer {
    margin-top: 50px;
    background: #1c1c1c;
    color: white;
    text-align: center;
    padding: 20px;
}
``
